### Exploration of Taxi Journey Behaviour in New York City Using PyKX

#### Source : Kx Academy

In [4]:
import pykx as kx
import pandas as pd

import numpy as np

from datetime import datetime, date

import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.cluster import AgglomerativeClustering
from sklearn.ensemble import RandomForestClassifier

In [7]:
# set the consol size

kx.q.system.display_size = [50,125]

### Read and Preprocessing

In [8]:
# Read the data

taxi = kx.q.read.csv("/home/senthil/data/raw/taxi_data_2016.csv")

taxi.head()

pykx.Table(pykx.q('
pickup_date pickup_time dropoff_date dropoff_time vendor_name       passenger_count trip_distance pickup_borough pickup_zo..
--------------------------------------------------------------------------------------------------------------------------..
2016.01.01  00:12:22    2016.01.01   00:29:14     "Creative Mobile" 1               3.2           Manhattan      "Clinton ..
2016.01.01  00:33:43    2016.01.01   00:49:03     "VeriFone"        1               6.21          Queens         "JFK Airp..
2016.01.01  00:46:43    2016.01.01   00:53:12     "Creative Mobile" 1               0.4           Manhattan      "Clinton ..
2016.01.01  00:29:39    2016.01.01   00:44:14     "Creative Mobile" 1               0.8           Manhattan      "East Vil..
2016.01.01  00:42:33    2016.01.01   00:58:08     "VeriFone"        2               4.65          Manhattan      "Clinton ..
'))

In [10]:
taxi.shape

(pykx.LongAtom(pykx.q('5245277')), pykx.LongAtom(pykx.q('14')))

In [11]:
taxi.columns

pykx.SymbolVector(pykx.q('`pickup_date`pickup_time`dropoff_date`dropoff_time`vendor_name`passenger_count`trip_distance`pickup_borough`pickup_zone`dr..'))

In [13]:
# Rename some of the column name

taxi = taxi.rename(columns = {
     "vendor_name": "vendor",
        "passenger_count": "passengers",
        "trip_distance": "distance",
        "payment_type": "payment",
        "total_amount": "total",
        "tip_amount": "tip"
})

In [15]:
taxi.head()

pykx.Table(pykx.q('
pickup_date pickup_time dropoff_date dropoff_time vendor            passengers distance pickup_borough pickup_zone    drop..
--------------------------------------------------------------------------------------------------------------------------..
2016.01.01  00:12:22    2016.01.01   00:29:14     "Creative Mobile" 1          3.2      Manhattan      "Clinton East" "Man..
2016.01.01  00:33:43    2016.01.01   00:49:03     "VeriFone"        1          6.21     Queens         "JFK Airport"  "Que..
2016.01.01  00:46:43    2016.01.01   00:53:12     "Creative Mobile" 1          0.4      Manhattan      "Clinton East" "Man..
2016.01.01  00:29:39    2016.01.01   00:44:14     "Creative Mobile" 1          0.8      Manhattan      "East Village" "Man..
2016.01.01  00:42:33    2016.01.01   00:58:08     "VeriFone"        2          4.65     Manhattan      "Clinton East" "Man..
'))

In [32]:
# Consider only data which held on 2016

taxi = taxi.select(where=((kx.Column('pickup_date').year == kx.IntAtom(2016)) & (kx.Column('passengers') != kx.ShortAtom(0))))

In [36]:
# Sort the table based on the "pickup_date", "pickup_time", "dropoff_date", "dropoff_time" columns


taxi = kx.q.xasc(["pickup_date", "pickup_time", "dropoff_date", "dropoff_time"], taxi)

In [38]:
taxi.dtypes

pykx.Table(pykx.q('
columns         datatypes
-------------------------------
pickup_date     "kx.DateAtom"
pickup_time     "kx.SecondAtom"
dropoff_date    "kx.DateAtom"
dropoff_time    "kx.SecondAtom"
vendor          "kx.CharVector"
passengers      "kx.ShortAtom"
distance        "kx.RealAtom"
pickup_borough  "kx.SymbolAtom"
pickup_zone     "kx.CharVector"
dropoff_borough "kx.CharVector"
dropoff_zone    "kx.CharVector"
payment         "kx.CharVector"
total           "kx.RealAtom"
tip             "kx.RealAtom"
'))

In [41]:
# Type cast the columns to symbol type


taxi = taxi.astype({
    "vendor": kx.SymbolVector,
    "pickup_zone": kx.SymbolVector,
    "dropoff_zone": kx.SymbolVector,
    "payment": kx.SymbolVector
})

taxi.dtypes

pykx.Table(pykx.q('
columns         datatypes
-------------------------------
pickup_date     "kx.DateAtom"
pickup_time     "kx.SecondAtom"
dropoff_date    "kx.DateAtom"
dropoff_time    "kx.SecondAtom"
vendor          "kx.SymbolAtom"
passengers      "kx.ShortAtom"
distance        "kx.RealAtom"
pickup_borough  "kx.SymbolAtom"
pickup_zone     "kx.SymbolAtom"
dropoff_borough "kx.CharVector"
dropoff_zone    "kx.SymbolAtom"
payment         "kx.SymbolAtom"
total           "kx.RealAtom"
tip             "kx.RealAtom"
'))

In [86]:
#Add bucketing columns

bucket_size_in_min = 30

taxi['pickup_hour'] = kx.q.div(taxi["pickup_time"], 60*bucket_size_in_min)
taxi['pickup_dotw'] = kx.q.mod(taxi["pickup_date"], 7)

## Analyse Taxi Data


The main questions we will try to answer here will revolve around the optimisation of the working days and hours of taxi drivers. We will attempt to answer these question:

    1. What times of the year should drivers take their holidays?
    2. What days of the week should drivers work?
    3. What hours should drivers work?

In [46]:
dates = kx.q.distinct(taxi["pickup_date"])
len(dates)

366

In [47]:
60//30

2

In [87]:
distinct_taxi_hours = kx.q.distinct(taxi["pickup_hour"]) / (60 // bucket_size_in_min)

len(distinct_taxi_hours)

48

In [ ]:
# Do the xgroup based on the date, week, hour columns

grouped_taxi_date = kx.q.xgroup()