In [3]:
# QHOME needs to be set

import pykx as kx
import pandas as pd

In [27]:
kx.q("til 10")

pykx.LongVector(pykx.q('0 1 2 3 4 5 6 7 8 9'))

In [30]:
# Define the Data types


kx.FloatAtom(1.0)

# or


kx.q("1.0f") #it's an kdb/q way

pykx.FloatAtom(pykx.q('1f'))

In [32]:
# Define set of vectors

kx.FloatVector([1.3, 4.2, 7.9, 10.15])

#Or can do it in kdb way

kx.q('1.3 4.2 7.9 10.15')

pykx.FloatVector(pykx.q('1.3 4.2 7.9 10.15'))

In [33]:
# Character

kx.CharAtom("S")

pykx.CharAtom(pykx.q('"S"'))

In [35]:
kx.CharVector("Senthil") #String

pykx.CharVector(pykx.q('"Senthil"'))

In [39]:
# Boolean atom

kx.BooleanAtom(1)

kx.BooleanAtom(True)

kx.q('0b')

pykx.BooleanAtom(pykx.q('0b'))

In [41]:
# Symbol

kx.SymbolAtom("s")

kx.SymbolVector(["APPL","MSFT","TSLA","GOOG"])

pykx.SymbolVector(pykx.q('`APPL`MSFT`TSLA`GOOG'))

In [50]:
# Create function in pykx

def fun(num, lis):
    lis = kx.toq(lis)
    num = kx.toq(num)
    qfun = kx.q('{[x;y] x?y}')
    res = qfun(num,lis)
    return res.py()
    
# Pass the params to function
fun(10, [1,2,3,4,5,6,7])

[4, 1, 5, 1, 6, 6, 2, 2, 4, 7]

In [58]:
from datetime import datetime

In [80]:
st = datetime.now()


fun(10000000, [1,2,3,4,5,6,7])

et = datetime.now()

et-st

datetime.timedelta(seconds=41, microseconds=485920)

In [82]:
# import random

# st = datetime.now()

# random.choices([1,2,3,4,5,6,7],k=10000000)

# et = datetime.now()

# et-st  # How the fuck python is faster than kdb

# datetime.timedelta(seconds=2, microseconds=119858)

In [84]:
# List

kx.List([[1,2,3],['s','e'],['senthil','kdb','python']])

pykx.List(pykx.q('
1 2 3
`s`e
`senthil`kdb`python
'))

In [85]:
# Dictionary

kx.Dictionary({'Name':['Senthil','Raj'], 'Subject':['kdb','full stack']})

pykx.Dictionary(pykx.q('
Name   | Senthil Raj
Subject| kdb     full stack
'))

In [97]:
# PyKX Tables


print(kx.Table([[1, 2, 'a'], [2, 3, 'b'], [3, 4, 'c']], columns = ['col1', 'col2', 'col3']))

col1 col2 col3
--------------
1    2    a
2    3    b
3    4    c

In [119]:
# Table creation like pandas. List should be in the python type

df = kx.Table(data = { 'sym' : random.choices(['APPL','MSFT','GOOG','TSLA'],k = 10), 'price': kx.random.random(10, 100.0).py(), 'size':kx.random.random(10, 50).py()})

df.head()

pykx.Table(pykx.q('
sym  price    size
------------------
MSFT 19.14249 8
TSLA 16.40847 38
GOOG 89.86563 11
GOOG 32.59176 46
MSFT 16.52428 14
'))

In [138]:
# Keyed table

df.set_index(['sym'])

pykx.KeyedTable(pykx.q('
sym | price    size
----| -------------
MSFT| 19.14249 8
TSLA| 16.40847 38
GOOG| 89.86563 11
GOOG| 32.59176 46
MSFT| 16.52428 14
TSLA| 84.62978 39
GOOG| 32.79133 42
APPL| 3.309212 10
MSFT| 15.85075 40
APPL| 34.79387 40
'))

In [139]:
# System commands

kx.q.system("pwd")

pykx.List(pykx.q('"/home/senthil/Notebooks/PYKX/Data"'))

In [142]:
# Read csv file

t = kx.q.read.csv("/home/senthil/Notebooks/PYKX/Data/test.csv")

t

pykx.Table(pykx.q('
c1 c2    c3   c4
------------------------
1  "abc" 2.3  2022.12.01
2  "def" 24.3 2022.11.21
3  "ghi" 9.8  2022.01.09
4  "jkl" 6.2  2022.07.11
5  "mno" 9.7  2022.03.07
6  "qrs" 3.1  2022.09.19
'))

In [144]:
kx.q.meta(t) #hmm pykx auto detect the data types. But for numbers and float, it choose the minimal type like short, real etc..

pykx.KeyedTable(pykx.q('
c | t f a
--| -----
c1| h
c2| C
c3| e
c4| d
'))

In [149]:
# Export as csv

kx.q.write.csv("/home/senthil/Notebooks/PYKX/Data/test1.csv", t)

kx.q.write.json("/home/senthil/Notebooks/PYKX/Data/test1.json", t)

# No excel

PosixPath('/home/senthil/Notebooks/PYKX/Data/test1.json')

In [4]:
trade = kx.schema.builder({'sym':kx.SymbolAtom, 'price':kx.FloatAtom, 'size':kx.LongAtom})

In [22]:
data = [kx.random.random(2, kx.SymbolVector(["AAPL","MSFT","AMZ","TSLA"])),
kx.random.random(2, 100.00),
kx.random.random(2,50)]

trade.insert(data, inplace=True)

pykx.Table(pykx.q('
sym  price    size
------------------
AAPL 51.59796 26
AAPL 40.66642 9
AMZ  71.11716 20
TSLA 41.1597  29
AMZ  61.37452 37
AMZ  52.94808 4
MSFT 96.72398 0
MSFT 23.06385 49
AMZ  84.81567 40
MSFT 38.9056  24
MSFT 23.92341 23
AMZ  15.08133 44
AAPL 40.99561 44
AMZ  61.08817 28
'))

In [23]:
db = kx.DB(path="/home/senthil/Notebooks/PYKX/Data")

In [24]:
db.create(trade,'trade',format='splayed')

In [21]:
#kx.q.system("pwd")

In [26]:
db.trade

pykx.SplayedTable(pykx.q('
sym  price    size
------------------
AAPL 51.59796 26
AAPL 40.66642 9
AMZ  71.11716 20
TSLA 41.1597  29
AMZ  61.37452 37
AMZ  52.94808 4
MSFT 96.72398 0
MSFT 23.06385 49
AMZ  84.81567 40
MSFT 38.9056  24
MSFT 23.92341 23
AMZ  15.08133 44
AAPL 40.99561 44
AMZ  61.08817 28
'))